@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Josefin+Sans:ital,wght@0,400;1,300&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'roboto', sans-serif;
}

body{
  overflow-x: hidden;
}

.container {
  display: flex;
}

.menu-side {
  height: 100rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  position: fixed;
}


.slaca-name {
  width: 222px;
  height: 78px;
  background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.slaca-name h1 {
  color: #fff;
}

.name {
  display: flex;
  width: 178px;
  height: 68px;
 flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin-left: 17px;
}

.list-container ul li {
  border: 1px solid #ccc;
  width: 220px;
  height: 33px;
}

.list-container ul li:hover {
  background: #FDF1EB;
  border-left: 5px solid #ee7a3a;
}

.list-container ul li a {
  text-decoration: none;
  color: #725C5C;
 
}

.list-container a {
  padding: 10px 20px;
}


.header {
  display: flex;
  background-color: #FDF1EB;
  height: 78px;
  width: 100%;
  padding-left: 238px;

}

.title-header {
  color: #725C5C;
  margin-top: 10px;
  margin-left: 30px;
}

.title-header .text-1 {
  font-size: 14px;
}

.title-header .text-2 {
  font-size: 22px;
}

.title-header .text-3 {
  font-size: 14px;
}

.language {
  margin-top: 20px;
  margin-left: 240px;
}

.btn-header {
  width: 100px;
  height: 34px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FDF1EB;
  border: 1px solid #ccc;
}

.btn-header .icon-2 {
  margin-left: 5px;
}

.user-email {
  margin-left: 30px;
  margin-top: 17px;
  display: flex;
}

.photo {
  width: 35px;
  height: 30px;
  border-radius: 55%;
  padding-left: 5px;
}

.user-email .welcome {
  text-align: right;
}

.overlay-number {
  position: absolute;
  top: 8px;
  right: 2px;
  background-color: red;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
}

.main-container {
  margin-left: 270px;
}

.main-title {
  display: flex;
}

.title {
  color: #ed7839;
  font-size: 15px;
  padding-top: 17px;
}

.main-buttons {
  padding-top: 20px;
  margin-left: 185px;
  display: flex;
}


.download {
  color: #fff;
  background: #ed7839;
  border-radius: 4px;
  border: 1px solid #ed7839;
  width: 122px;
  height: 32px;
  font-weight: 600;
}

.download img {
  padding-right: 8px;
}

.main-star{
  margin-left: 4px;
}

.star {
  background: #ed7839;
  border-radius: 4px;
  border: 1px solid #ed7839;
  width: 43px;
  height: 32px;
  padding-top: 3px;
}

.main-doi{
  margin-left: 4px;
}

.doi {
  background: #ed7839;
  border-radius: 4px;
  border: 1px solid #ed7839;
  width: 43px;
  height: 32px;
  padding-top: 4px;
}

.quote {
  margin-left: 909px;
  color: #ed7839;
  font-size: 13px;
  font-weight: 400;
  margin-top: -5px;
}

.section-1 {
  display: flex;
  margin-top: 19px;
}

.section-1 img {
  margin-right: 45px;

}

.video {
  position: relative;
  display: inline-block;
}

.video img {
  display: block;
  width: 100%;
  height: auto;
}

.video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(141, 53, 6, 0.50);
}

.overlay h1 {
  color: #fff;
  width: 734px;
  height: 54px;
  font-size: 25px;
  font-weight: 800;
  margin-top: 20px;
  margin-left: 32px;
}

.circle {
  width: 74px;
  height: 77px;
  margin-top: 250px;
  margin-left: 35px;
  border: 1px solid #ed7839;
  border-radius: 50%;
}

.circle img {
  width: 72px;
  height: 75px;
  border-radius: 50%;
  margin: 0 auto
}


.overlay h2 {
  color: #fff;
  width: 452px;
  height: 36px;
  font-size: 34px;
  font-weight: 800;
  margin-top: -70px;
  margin-left: 132px;
}

.overlay h3 {
  color: #fff;
  width: 452px;
  height: 36px;
  font-size: 20px;
  padding-top: 5px;
  margin-left: 134px;
}

.section-2 {
  margin-left: 60px;
  border: 1px solid #ececec;
  border-radius: 3px;

}

.name-detail {
  width: 100%;
  height: 45px;
  background: #FDF1EB;
  border-radius: 3px 3px 0px 0px;
  border: 1px solid #ececec;
}

.detail {
  color: #4e4e4e;
  font-size: 20px;
  font-weight: 400;
  padding-left: 15px;
  padding-top: 11px;
}

.title-1 {
  font-size: 12px;
  padding: 12px;
  padding-top: 15px;
}

.title-2 {
  font-size: 17px;
  padding: 12px;
  padding-top: 30px;
}

.title-3 {
  font-size: 10px;
  padding: 12px;
  padding-top: 60px;
}

nav {
  width: 242px;
  height: 380px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.resume-container {
  width: 1132px;
  height: 189px;
  border-radius: 3px;
  border: 1px solid #ececec;
  margin-left: 270px;
  margin-top: 30px;
}

.resume-title {
  width: 1132px;
  height: 45px;
  border-radius: 3px 3px 0px 0px;
  border: 1px solid #ececec;
  background: #FDF1EB;
}

.resume-text {
  width: 1028px;
  color: #4e4e4e;
  font-size: 20px;
  font-weight: 500;
  padding-top: 8px;
  padding-left: 11px;
}

.resume {
  margin: 0 auto;
  padding: 20px;
  display: flex;
}

#mais {
  display: none;
}

.btn-show-more {
  text-decoration: none;
  color: #ed7839;
  cursor: pointer;
  border: none;
  background: #fff;
}

.discussions-container {
  width: 1132px;
  height: 621px;
  border-radius: 3px;
  border: 1px solid #ececec;
  margin-left: 270px;
  margin-top: 30px;
}

.div-1 {
  position: relative;
}

.discussions-title {
  width: 1132px;
  height: 45px;
  border-radius: 3px 3px 0px 0px;
  border: 1px solid #ececec;
  background: #FDF1EB;
}

.discussions-text {
  width: 1028px;
  color: #4e4e4e;
  font-size: 20px;
  font-weight: 500;
  padding-top: 8px;
  padding-left: 11px;
}

.idea {
  color: #ed7839;
  font-weight: 700;
  font-size: 18px;
  padding-left: 324px;
  padding-top: 15px;
}

.icons {
  display: flex;
  padding-top: 27px;
}

.icons-1 {
  padding-left: 402px;
}

.icons-2 {
  padding-left: 51px;
}

.icons-3 {
  padding-left: 51px;
}

.discussions-container p {
  color: #595959;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding-top: 35px;
}

.create-container {
  position: relative;
}

.line {
  border: 1px solid #e7e7e7;
  width: 1027px;
  padding-top: 0px;
  margin-top: 32px;
  margin-left: 16px;
}

.create-topic {
  padding-left: 463px;
  top: -14px;
  position: absolute;
}


.create-topic button {
  width: 133px;
  height: 32px;
  display: flex;
  border-radius: 4px;
  border: 1px solid #f0813d;
  background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
  z-index: 20px;
}

.btn-create-topic {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding-top: 7px;
  padding-left: 15px;

}

.create-topic button img {
  width: 17px;
  height: 17px;
  padding-right: 5px;
}

.new-content {
  position: absolute;
}

.form-content p {
  color: #5c5c5c;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding-top: 15px;
}

.line-2 {
  border: 1px solid #e7e7e7;
  width: 1027px;
  padding-top: 0px;
  margin-top: 15px;
  margin-left: 16px;
}

.div-2 {
  display: none;
}

.div-2 h4 {
  color: #ed7839;
  font-size: 16px;
  font-weight: 700;
}

#subject {
  padding-top: 22px;
  padding-left: 17.53px;
}

.assunto {
  width: 1025.515px;
  height: 39px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: #fff;
}

input {
  margin-top: 1px;
  margin-left: 17.53px;
}

#content {
  padding-top: 10px;
  padding-left: 17.53px;
}

textarea {
  width: 1025.518px;
  height: 113px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: #fff;
  margin-top: 4px;
  margin-left: 17.53px;
}

.enviar {
  display: flex;
  position: absolute;
}

.gray {
  width: 1025.518px;
  height: 31px;
  border-radius: 0px 0px 4px;
  border: 1px solid #ccc;
  background: #eaf1f2;
  margin-top: -35px;
  margin-left: 17.53px;
  position: relative;
}

#enviar {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  padding-top: 1px;
  padding-left: 66px;
  padding-right: 67px;
  width: 205.104px;
  height: 31px;
  border-radius: 0px 0px 4px 0px;
  background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
  border: #ed7839;
  margin-top: -34px;
  margin-left: 839px;
  position: absolute;
}

.new-content-2 {
  position: relative;
  display: none;
}

#div3 h3 {
  color: #ed7839;
  width: 537.958px;
  height: 22px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding-left: 247px;
  padding-top: 15px;
}

#div3 p {
  color: #595959;
  width: 805.246px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding-left: 113px;
  padding-top: 18px;
}

.new-3 a {
  color: #f48f44;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  width: 306.196px;
  height: 20px;
  padding-left: 363px;
  padding-top: 29px;
  display: block;
}

#div3 button {
  width: 235.140px;
  height: 32px;
  background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
  border-radius: 4px;
  border: 1px solid #f0813d;
  margin-top: 47px;
  margin-left: 395px;
  z-index: 20px;
}

#create-new-topic {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  margin-top: 45px;
  padding-left: 56px;
  padding-right: 55px;
  padding-top: 0px;
  position: absolute;

}

.line-3 {
  border: 1px solid #e7e7e7;
  width: 1027px;
  margin-top: 65px;
  margin-left: 16px;
}

.card-3 {
  width: 1028px;
  height: 148px;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  margin-top: 28px;
  margin-left: 15px;
  position: relative;
}

.card-3 h4 {
  width: 267px;
  height: 20px;
  color: #ed7839;
  font-size: 16px;
  font-weight: 700;
  padding-top: 17px;
  padding-left: 24px;
}

.card-3 .name-card3 {
  color: #5c5c5c;
  font-size: 12px;
  font-weight: 500;
  padding-top: 1px;
  padding-left: 24.17px;
  padding-right: 461.76px;
  display: flex;
}

.text-card3 {
  color: #4d4d4d;
  width: 980.669px;
  height: 35px;
  padding-left: -24.17px;
  padding-right: 23.17px;
  margin-top: -10px;
  display: flex;
}

.overlay-card3 {
  width: 1028px;
  height: 148px;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  background-color: #ddd;
  opacity: 90%;
  margin-top: -113px;
  position: absolute;
}

.overlay-card3 img {
  padding-left: 459px;
  padding-top: 35px;
}

.overlay-card3 h3 {
  color: #707070;
  font-size: 16px;
  font-weight: 700;
  width: 414px;
  height: 20px;
  padding-left: 309px;
  padding-right: 304px;
  padding-top: 7.78px;
}

.overlay-card3 a {
  color: #ed7839;
  font-size: 14px;
  font-weight: 400;
  padding-left: 439px;
  padding-top: 8px;
}

.card-1 {
  width: 1102px;
  height: 148px;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  margin-top: 28px;
  margin-left: 15px;
 position: absolute;
}

.card-1 h4 {
  width: 267px;
  height: 20px;
  color: #ed7839;
  font-size: 16px;
  font-weight: 700;
  padding-top: 17px;
  padding-left: 24px;
}

.name-card1{
  color: #5c5c5c;
  font-size: 12px;
  font-weight: 500;
  width: 542.071px;
  height: 15px;
  padding-left: 24px;
  margin-top: -30px;
  display: flex;
}

.card-1  .text-card1{
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 400;
  width: 980.669px;
  height: 35px;
  padding-left: 24px;
  padding-top: 10px;
}

#card1{
  display: flex;
}

#card1 img{
  width: 4px;
  height: 18px;
  padding-left: 24px;
  padding-top: 12px;
}

#card1 button{
  background: #ed7839;
  color: #fff;
  width: 27px;
  height: 19px;
  margin-left: 15px;
  margin-top: 11px;
  border: none;
}

#card1 button img{
  padding-left: 6px;
  padding-right: 7px;
  padding-top: 3px;
  width: 14px;
  height: 14px;
}

#card1 .like{
  color: #757575;
  padding-left: 15px;
  padding-top: 11px;
  font-size: 14px;
  font-weight: 350;
}

#card1 .response{
  color: #757575;
  padding-left: 15px;
  padding-top: 11px;
}

#card-2{
  width: 1102px;
  height: 148px;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  background: #fff;
  margin-top: 187px;
  margin-left: 15px;
}

.ops-topic-subject {
  color: #ed7839;
  font-size: 16px;
  font-weight: 700;
  width: 267px;
  height: 20px;
  border: none;
  background: #fff;
  margin-top: 17px;
  padding-left: 24px;

}

.name-card2{
  color: #5c5c5c;
  font-size: 12px;
  font-weight: 500;
  width: 542.071px;
  height: 15px;
  padding-left: 24px;
  margin-top: -30px;
  display: flex;
}

#card-2  .text-card2{
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 400;
  width: 980.669px;
  height: 35px;
  padding-left: 24px;
  padding-top: 10px;
}

#card2{
  display: flex;
}

#card2 img{
  width: 4px;
  height: 18px;
  padding-left: 24px;
  padding-top: 12px;
}

#card2 button{
  background: #ed7839;
  color: #fff;
  width: 27px;
  height: 19px;
  margin-left: 15px;
  margin-top: 11px;
  border: none;
}

#card2 button img{
  padding-left: 6px;
  padding-right: 7px;
  padding-top: 3px;
  width: 14px;
  height: 14px;
}

#card2 .like-2{
  color: #757575;
  padding-left: 15px;
  padding-top: 11px;
  font-size: 14px;
  font-weight: 350;
}

#card2 .response-2{
  color: #757575;
  padding-left: 15px;
  padding-top: 11px;
}

.footer-container {
  position: relative;
  display: flex;
  padding-top: 50px;
  width: 1086px;
  height: 160px;
}

.line-footer {
  border: 1px solid #e7e7e7;
  width: 1250px;
  padding-top: 0px;
  margin-top: 80px;
  margin-left: 240px;
}

.footer {
  margin-left: 260px;
}

.footer h1 {
  margin-top: -30px;
  padding-left: 50px;
  font-size: 60px;
  font-weight: 700;
  color: #361B49;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1.5px;

}

.feature {
  display: flex;
}

.line-feature-1 {
  border: 1px solid #857591;
  width: 12px;
  height: 0px;
  margin-top: 8px;
  margin-left: 50px;
}

.footer p {
  margin-top: 0px;
  padding-left: 5px;
  font-size: 13px;
  color: #857591;
}

.line-feature-2 {
  border: 1px solid #857591;
  width: 12px;
  height: 0px;
  margin-top: 8px;
  margin-left: 5px;
}

.footer button {
  width: 180px;
  height: 31px;
  border-radius: 4px 4px 4px 4px;
  background: #71478E;
  border: none;
  color: #fff;
  margin-left: 37px;
  margin-top: 10px;
}

.footer-text {
  color: #4e4e4e;
  padding-left: 50px;
}

.text-footer-1 {
  margin-top: -14px;
  font-size: 15px;
  width: 1025px;
}

.text-footer-2 {
  padding-top: 20px;
  font-size: 15px;
  width: 1025px;
}